<!DOCTYPE HTML>
<html>
  <head>
    <title>CATMASH</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="../assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <link rel="icon" type="image/png" href="../images/logo.png" />

  </head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="../" class="logo">
									<span class="symbol"><img src="../images/logo.png" alt="" /></span><span class="title">CATMASH</span>
								</a>

						</div>
					</header>

				<!-- Main -->
					<div id="main">
            {{#each cats}}
  						<div class="inner small-main">
  							<span class="image main"><img src="{{url}}" alt="" /></span>
  							<p class="align-center large-text">
  								<i class="fa fa-heart-o" aria-hidden="true"></i> {{votes}}
  							</p>
  							<p class="align-center">
                  <form action="/vote/done" method="post">
                    <input name="id" type="hidden" value="{{id}}"></input>
  									<input class="button special fit big" type="submit" value="Voter"></input>
                  </form>
  							</p>




  						</div>
            {{/each}}

					</div>

				<!-- Footer -->
        <footer id="footer">
          <div class="inner">
            <section>
              <h2>Follow</h2>
            </section>
            <ul class="copyright">
              <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        </footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

      <script>
        function vote(id){

        }
      </script>

	</body>
</html>
